@import '../variables.scss';
@import '../mixins.scss';

.container-header {
    @include flex-center-wrap();
    width: calc(#{$size-pec-12} - #{$size-em-4});
    padding: $size-em-2;
    background-color: $header-bg-color;

    .icon-pmweb {
        width: $size-pec-6;
        height: 45px;
        background-size: cover;
    }

    .icon-rock-hand {
        width: $size-pec-2;
        height: 45px;
        background-size: contain;
    }
}

@media all and (min-width: 992px)  {
    .container-header {
        justify-content: space-between;
        width: calc(#{$size-pec-12} - #{$size-em-8});
        padding: $size-em-2 $size-em-4;

        .icon-pmweb {
            width: $size-pec-2;
            background-size: contain;
            background-position-x: left;
        }

        .icon-rock-hand {
            width: 45px;
        }
    }
}