.icon-default {
    border: none;
	margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-appearance: none;

    &.icon-pmweb {
        background-image: url('../assets/svg/logo.svg');
    }

    &.icon-rock-hand {
        background-image: url('../assets/svg/rocking-hand.svg');
    }

    &.icon-music {
        background-image: url('../assets/svg/music.svg');
    }

    &.icon-tomb {
        background-image: url('../assets/svg/tomb.svg');
    }
}