@import "./variables.scss";

@mixin flex-center-wrap() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin font-primary-light {
    font-family: 'Gotham-Light';
}

@mixin font-primary-book {
    font-family: 'Gotham-Book';
}