@import '../variables.scss';
@import '../mixins.scss';

.container-footer {
    @include flex-center-wrap();
    width: calc(#{$size-pec-12} - #{$size-em-8});
    padding: $size-em-4;
    background-color: $footer-bg-color;

    .icon-pmweb {
        width: $size-pec-6;
        height: 45px;
        background-size: cover;
    }
}

@media all and (min-width: 992px)  {
    .container-footer {
        justify-content: space-between;

        .icon-pmweb {
            width: $size-pec-2;
            background-size: contain;
            background-position-x: left;
        }
    }
}