@import '../variables.scss';
@import '../mixins.scss';

.container-graphic {
    .chart {
        width: calc(#{$size-pec-12} - #{$size-em-4});
        padding: $size-em-2;
        box-shadow: 1px 1px 5px 2px $box-shadow-color;
        border-radius: 5px;

        .highcharts-title {
            width: $size-pec-12 !important;
            top: 0 !important;
            left: 0 !important;
            text-align: center;
        }
    }
}

@media all and (min-width: 992px)  {
    .container-graphic {
        .chart {
            width: calc(#{$size-pec-12} - #{$size-em-8});
            padding: $size-em-4;
            .highcharts-title {
                width: auto !important;
            }
        }
    }
}